@import '@style/size-pages';

.reviews {
    height: 80vh;
    padding-top: 20vh;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;

    &__heading {
        text-align: center;
        font-weight: 500;
        font-size: 56px;
    }

    &__card {
        display: flex;
        gap: 15px;
        width: 25vw;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid gray;
        background-color: lighten($color: #7D6F66, $amount: 10%);

        @include size-page('desctop-mid') {
            width: 250px;
            margin: 0 auto;
        }

        @include size-page('desctop-min') {
            width: 250px;
            margin: 0 auto;
        }

        @include size-page('tablet-big') {
            width: 250px;
            margin: 0 auto;
        }

        @include size-page('tablet') {
            width: 300px;
            margin: 0 auto;
        }

        @include size-page('phone-hd-max') {
            width: 250px;
            margin: 0 auto;
        }

        &_avatar {
            width: 60px;
            height: 60px;
        }

        &_bio {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        &_text {
            height: 150px;
        }
    }

    &__btn {
        outline: none;
        border: 1px solid gray;
        background-color: lighten($color: #7D6F66, $amount: 10%);
        color: var(--white);
        border-radius: 10px;
        padding: 15px;
        cursor: pointer;
        transition: all .2s linear;

        &:hover {
            background-color: lighten($color: #7D6F66, $amount: 5%);
        }
    }

    &__modal {
        position: relative;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        @include size-page('phone-hd-max') {
            padding: 30px 10px;
        }

        &_form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;
    
            & input, select, textarea {
                width: 100%;
                color: var(--white);
                padding: 5px;
                border-radius: 10px;
                border: 1px solid gray;
                background-color: transparent;
                
                &::placeholder {
                    text-align: center;
                    color: var(--white);
                }
    
                &:focus {
                    outline: none;
                    background-color: lighten($color: #7D6F66, $amount: 5%);
                }
            }
    
            & textarea {
                resize: none;
            }
    
            &_btn {
                background-color: transparent;
                border: 1px solid gray;
                border-radius: 10px;
                padding: 10px;
                color: var(--white);
                cursor: pointer;
                transition: all .2s linear;
    
                &:hover {
                    background-color: darken($color: #7D6F66, $amount: 5%);
                }
            }

            & .img-preview {
                width: 100%;
                display: grid;
                grid-template-columns: 60px 1fr 0;
                gap: 10px;

                @include size-page('tablet') {
                    grid-template-columns: 60px 1fr 0;
                }

                & img {
                    width: 60px;
                    height: auto;
                    border-radius: 10px;
                    border: 1px solid gray;
                }

                & input {
                    display: none;
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }

                & label {
                    cursor: pointer;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    font-size: 14px;
                    font-weight: 600;
                    color: #fff;
                    font-size: 14px;
                    padding: 10px 12px;
                    background-color: #7D6F66;
                    border: 1px solid gray;
                    transition: all .2s linear;
                    font-size: 18px;
                    text-align: center;
                    width: 97%;

                    &:hover {
                        background-color: darken($color: #7D6F66, $amount: 5%);
                    }

                    & svg {
                        width: 18px;
                        height: 18px;
                        margin-right: 4px;
                        
                        & path {
                            fill: var(--white);
                        }
                    }
                }
            }
        }
    }

    & swiper-container {
        padding: 0 3vw;

        @include size-page('desctop-mid') {
            padding: 0 3vw;
        }

        @include size-page('desctop-min') {
            padding: 0 3vw;
        }

        @include size-page('tablet-big') {
            padding: 0 3vw;
        }

        @include size-page('tablet') {
            padding: 0;
        }

        @include size-page('phone-hd-max') {
            padding: 0;
        }

        & .swiper-button-prev, .swiper-button-next {
            &::after {
                color: var(--white) !important;
            }
        }
    }
}