.preview {
    width: 100vw;
    height: 100vh;
    background-image: url('./../../assets/1.webp');
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: 0 -30vh;
    scroll-snap-align: center;

    &__content {
        padding: 65vh 0 0 0;

        &_text-first {
            font-size: 50px;
        }

        &_text-second {
            font-size: 40px;
        }

        &_text-third {
            font-size: 30px;
        }
    }
}