@font-face {
  font-family: "IBM Plex Serif";
  src: url("../assets/fonts/IBMPlexSerif-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
    font-family: "IBM Plex Serif";
    src: url("../assets/fonts/IBMPlexSerif-Regular.woff2") format("woff2");
    font-weight: 400;
  }

@font-face {
    font-family: "IBM Plex Serif";
    src: url("../assets/fonts/IBMPlexSerif-Medium.woff2") format("woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: "IBM Plex Serif";
    src: url("../assets/fonts/IBMPlexSerif-SemiBold.woff2") format("woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: "IBM Plex Serif";
    src: url("../assets/fonts/IBMPlexSerif-Bold.woff2") format("woff2");
    font-weight: 700;
  }
  