@import 'colors';
@import 'fonts';

.container {
    margin: 0 auto;
    width: 1400px;
}

#root {
    color: var(--white);
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    background-color: var(--background-body);
}

.main {
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
      }
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.ReactModal__Content {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    transition: all 500ms ease-in-out;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: all 500ms ease-in-out;
    z-index: 3;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;

    & .ReactModal__Content--after-open {
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    }
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
    
    & .ReactModal__Content--before-close {
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    }
  }