@import 'colors';
@import 'fonts';

.container {
    margin: 0 auto;
    width: 1400px;
}

#root {
    color: var(--white);
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    background-color: var(--background-body);
}

.main {
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}