@import '@style/size-pages';

.feedback {
    height: 85vh;
    scroll-snap-align: center;

    @include size-page('phone-hd-max') {
        padding-bottom: calc(2vh + 30px);
    }

    &__wrapper {
        display: grid;
        grid-template-columns: auto auto;
        gap: 3vw;
        height: 70%;

        @include size-page('phone-hd-max') {
            display: flex;
            flex-direction: column;
            height: initial;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;
        max-width: 40vw;
        font-size: 20px;

        @include size-page('phone-hd-max') {
            flex-direction: row;
            max-width: initial;
            font-size: 14px;

            & p:last-of-type {
                display: none;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;

        @include size-page('phone-hd-max') {
            padding: 10px;
        }

        & input, select, textarea {
            width: 100%;
            color: var(--white);
            padding: 5px;
            border-radius: 10px;
            border: 1px solid gray;
            background-color: transparent;
            
            &::placeholder {
                text-align: center;
                color: var(--white);
            }

            &:focus {
                outline: none;
                background-color: lighten($color: #7D6F66, $amount: 5%);
            }
        }

        & textarea {
            resize: none;
        }

        &_btn {
            background-color: transparent;
            border: 1px solid gray;
            border-radius: 10px;
            padding: 10px;
            color: var(--white);
            cursor: pointer;
            transition: all .2s linear;

            &:hover {
                background-color: darken($color: #7D6F66, $amount: 5%);
            }
        }
    }

    & .react-datepicker__header {
        background-color: darken($color: #7D6F66, $amount: 5%);
    }

    & .react-datepicker {
        background-color: lighten($color: #7D6F66, $amount: 5%);
    }
}