.feedback {
    height: 80vh;
    scroll-snap-align: center;

    &__wrapper {
        display: grid;
        grid-template-columns: auto auto;
        gap: 5vw;
        height: 70%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        max-width: 40vw;
        font-size: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}