@import '@style/size-pages';

.footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    padding: 10px 0;
    width: 100vw;
    background-color: #7d6f6632;
    z-index: 2;

    @include size-page('tablet') {
        height: 30px;
    }

    @include size-page('phone-hd-max') {
        height: 30px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 25vw 1fr 10vw;

        @include size-page('tablet') {
            grid-template-columns: 35vw 1fr 20vw;
        }

        @include size-page('phone-hd-max') {
            grid-template-columns: 35vw 1fr 20vw;
        }
    }

    &__callback {
        max-width: 10vw;
        max-height: 5vh;
        background-color: transparent;
        color: var(--white);
        outline: none;
        border-radius: 10px;
        border: 1px solid gray;

        @include size-page('tablet') {
            max-width: initial;
            font-size: 14px;
        }

        @include size-page('phone-hd-max') {
            max-width: initial;
            font-size: 14px;
        }
    }

    &__logo {
        padding: 5px;

        &_wrapper {
            display: grid;
            grid-template-columns: 1fr 11fr;
            gap: 3px;
        }

        &_icon {
            width: 100%;
            height: 5vh;
            fill: var(--white);
            cursor: pointer;
            transition: all .2s linear;

            @include size-page('tablet') {
                width: 32px;
                height: 32px;
            }

            @include size-page('phone-hd-max') {
                width: 14px;
                height: 14px;
            }

            &:hover {
                fill: darken($color: #FFFFFF, $amount: 30%);
                transform: scale(1.15);
            }
        }

        &_name {
            font-size: 20px;

            @include size-page('tablet') {
                font-size: 16px;
            }

            @include size-page('phone-hd-max') {
                font-size: 12px;
            }
        }
    }

    &__list {
        display: flex;
        gap: 2vw;
        align-items: center;
        padding-left: 9vw;

        @include size-page('tablet') {
            padding-left: 1vw;
            padding-right: 1vw;
        }

        @include size-page('phone-hd-max') {
            padding-left: 1vw;
        }

        &_item {

            & svg {
                width: 24px;
                height: 24px;
                fill: var(--white);

                @include size-page('phone-hd-max') {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}