.examples {
    height: 83vh;
    padding-top: 17vh;
    scroll-snap-align: center;

    &__slide {
        position: relative;
        width: 27vw;
        height: 75vh;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        border: 1px solid gray;

        &_text {
            position: absolute;
            top: 5%;
            left: 5%;
            font-size: 20px;
            font-weight: 500;
            color: var(--dark);
        }
    }

    & swiper-container {
        padding: 0 1vw 0 3vw;

        & .swiper-button-prev, .swiper-button-next {
            &::after {
                color: var(--white) !important;
            }
        }
    }
}