@import '@style/size-pages';

.packets {
    height: 80vh;
    padding-top: 20vh;
    scroll-snap-align: center;

    &__heading {
        font-weight: 400;
        font-size: 56px;
        text-align: center;
        margin-bottom: 25vh;

        @include size-page('tablet-big') {
            margin-bottom: 10vh;
        }

        @include size-page('tablet') {
            margin-bottom: 10vh;
        }

        @include size-page('phone-hd-max') {
            margin-bottom: 4vh;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 7vw;

        @include size-page('tablet-big') {
            display: flex;
            flex-direction: column;
            gap: 5vw;
        }

        @include size-page('tablet') {
            display: flex;
            flex-direction: column;
        }

        @include size-page('phone-hd-max') {
            display: flex;
            flex-direction: column;
        }
    }

    &__preview {
        display: flex;
        gap: 15px;
        justify-content: center;
        border: 1px solid var(--white);
        padding: 15px 10px;
        font-size: 18px;
        cursor: pointer;
        transition: all .2s linear;
        
        &:hover {
            transform: scale(1.1);
        }

        &_icon {
            width: 24px;
            height: 24px;
        }
    }

    &__card {
        width: 25vw;
        height: 65vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid gray;
        background-color: lighten($color: #7D6F66, $amount: 5%);

        &_img {
            max-width: 10vw;
        }
    }

    &__modal {
        position: relative;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        @include size-page('phone-hd-max') {
            padding: 10px;
        }

        &_close {
            position: absolute;
            top: 0;
            right: 0;
            width: 34px;
            height: 34px;
            cursor: pointer;
        }

        &_price {
            font-size: 22px;
        }

        &_photo {
            width: 100%;
            height: 300px;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
        }

        &_item {
            display: flex;
            // align-items: center;
            gap: 10px;
        }

        &_svg {
            width: 24px;
            height: 24px;
            fill: var(--white);
        }
    }
}